
#img{
    height: 68vh;
    width: 40vw;
    margin-top: 10vh;
    position: absolute;

    top: 10vh;
    left: 10vh; /*left 35vh para imgs */

    border-radius: 2vh;

    animation: homer 10s step-start infinite;
    transition: box-shadow 0.3s ease-in-out;
}

#img:hover{
    box-shadow: 1vw 1vw 2vw var(--corPrincipal);
}

.main-text{
    height: 40vh;
    width: 40vw;

    top: 20vh;
    left: 5vw;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    position: absolute;
}

#nome{
    font-family: var(--fontePrincipal);
    font-size: 10vh;
    font-weight: bold;

    color: var(--corPrincipal);
    margin-bottom: 10vh;
  
    transition: color 0.3s;
    position: absolute;
}

#nome:hover{
    color: chartreuse;
}

#sobrenome{
    padding-top: 10vh;
    font-family: var(--fontePrincipal);
    font-size: 8vh;
    color: var(--corSecundaria);
    transition: color 0.3s;
    margin-bottom: 2vh;
}

#sobrenome:hover{
    color: darkblue;
}

#text{

    /* justify-content: center;
    align-items: center; */
    color: aliceblue;
    padding-right: 2vw;
    font-size: 2.2vh;
    font-family: var(--fonteSecundaria);
    line-height: 1.5;
}

#text:hover{
    color: cornflowerblue;
}

@keyframes homer{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.2);
    }
}

@media(max-width:480px){
    
    #img{
        height: 29vh;
        width: 60vw;
    
        position: absolute;
    
        top: 18vh;
        left: 8vh; /*left 35vh para imgs */
    
        border-radius: 4px;
    
        animation: homer 10s step-start ;
        animation-iteration-count: infinite;
    }
    
    .main-text{
        height: 20vh;
        width: 100vw;
        top: 40vh;
        left: 0%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;

    }

    #nome{
            font-family : var(--fontePrincipal);
            font-size: 18vw;
            font-style: bold;
        
            color: var(--corPrincipal);
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          

    }

    #sobrenome{

        font-size: 15vw;
        margin-top: 29vh;
        color: var(--corSecundaria);
        font-family: var(--fontePrincipal);


    }

    #text{
        top: 24vh;
        margin-bottom: 0%;

        left: 4vw;
        position: absolute;
        align-items: center;
        font-size: 2.5vh;
        margin-right: 5vw;
        justify-content: center;

    }


}