main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2vw;
    padding: 4vh;
}

#cards_formacao{
    padding-left: 2vw;
    width: 50vw;
    height: 100vh;
    background-color: blue;
}

#cards_curso{
    width: 50vw;
    height: 100vh;
    background-color: blue;
}

.formacao_card {
    width: 50vw;
    height: 30vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2vh;
    border-radius: 10px;
}

.formacao_card i{
    font-size: 15vh;
}

.curso_card{
    width:43vw;
    height: 30vh;
    display: flex;
    background-color: wheat;
    margin-bottom: 2vh;
    border-radius: 1vw;
    align-items: center;
    justify-content: space-around;
}

.curso_card i{
    font-size: 15vh;
}

/* 
main{
    background-color: aqua;
    width: 100vw;
    height: 88vh;
    display: flex;
    align-items: center;
    gap: 10vh;
    justify-content: space-around;
}


.img_formacao{
    display: flex;
    border-radius: 1vw;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;
}

.text_formacao{
    font-size:2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 45%;
    height: 100%;
}

#cards_formacao i{
    color: aliceblue;
    font-size: 35vh;
}

#cards_formacao i:hover{
    transform: scale(1.2);
    color: black;
}

#cards_curso{
    background-color: blueviolet;
    width: 33%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 3vw;
}

#cards_curso i{
    padding-left: 1vw;
    color: aliceblue;
    font-size: 25vh;
}

#cards_curso i:hover{
    transform: scale(1.2);
    color: black;
}

.paragrafo{
    text-align: center;
} */