#cards{
    width: 100vw;

    padding: 0 20vw;

    display: grid;
    grid-template-columns: repeat(4, 12vw);
    gap: 5vw;
    background: linear-gradient(120deg, #d0e8f2, #f9f9f9);
}

.card_projetos{
    margin-top: 2vh;
    width: 12vw;
    height:25vw;

    border-radius: 1vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff; /* branco puro */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.2s;
}

.card_projetos:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.img_projetos{
    border-radius: 1vh;
    width: 100%;
    height: auto;
}
