footer{
    position: fixed;
    bottom: 0;

    color: aqua;
    background-color: aqua;

    width: 100%;
    height: 9%;

    z-index: -1;
}

#footer_button{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#footer_img{
    width: 5vh;
    height: 3vw;

    align-items: center;
}