footer{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 9%;
    z-index: -1;
    
    display: flex;
    justify-content: flex-end;
}

#footer_img{
    top: 5vh;

    height: 2.5vw; 
    margin-right: 20px;
    padding-right: 50vw;

    padding: 20px;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#footer_img:hover{
    transform: scale(1.2);
}
