@import url(./variaveis.css);
@import url(./header.css);
@import url(./index.css);
@import url(./banner.css);
@import url(cards_formacao.css);

body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e0f7fa;
}
