header{
    height: 17vh;
    width: 96vw;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0 2vw;
}

.secao-header{
    width: 40%;
    height: 80%;

    
    display: flex;
    flex-direction: row;

    align-items: center;

}

#secao-header_h4{
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;

    font-size: 30px;
    font-family: var(--fontePrincipal);

}

#secao-header_img:hover{
    box-shadow: none;
}

#secao-header_img{
    width: 6vw;
    height: 6vw;
    margin: 0 4% 0 0;

    border-radius: 8px;

    box-shadow: 4px 4px 8px var(--corPreta);
    background-color: var(--corBranca);

    background-position: center;
    background-image: url(./../assets/img/img1.jpeg);
   
}

#logo-profissao{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#header_botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;
}

.botao{
    width: 30%;
    height: 40%;

    font-family: var(--fonteSecundaria);

    background-color: var(--verde);
    border-radius: 10vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.botao:hover{
    box-shadow: 2px 2px 4px var(--corPreta);   
    transform: scale(1.2);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

#btn-rosa{
    font-size: 30px;
    background-color: aquamarine;
}

#btn-rosa i{
    font-size: 20px;
}

#btn-azul{
    font-size: 30px;
    background-color: rgb(92, 228, 228);
}

#btn-azul i{
    font-size: 20px;
}

#btn-amarelo{
    font-size: 30px;
    background-color: rgb(37, 193, 138);
}

#btn-amarelo i{
    font-size: 20px;
}

/* Cópia */ 
button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: white;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }
/* Cópia */ 