header{
    height: 17vh;
    width: 96vw;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0 2vw;
}

.secao-header{
    width: 40%;
    height: 80%;

    
    display: flex;
    flex-direction: row;

    align-items: center;

}

#secao-header_h4{
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;

    font-size: 30px;
    font-family: var(--fontePrincipal);

}

#secao-header_img:hover{
    box-shadow: none;
}

#secao-header_img{
    width: 6vw;
    height: 6vw;
    margin: 0 4% 0 0;

    border-radius: 8px;

    box-shadow: 4px 4px 8px var(--corPreta);
    background-color: var(--corBranca);

    background-position: center;
    background-image: url(./../assets/img/img1.jpeg);
   
}

#logo-profissao{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;
}

.botao{
    width: 30%;
    height: 40%;

    font-family: var(--fonteSecundaria);

    background-color: var(--verde);
    border-radius: 10vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

#btn-rosa{
    font-size: 30px;
}

#btn-azul{
    font-size: 30px;
}

#btn-amarelo{
    font-size: 30px;
}