
#img{
    height: 74vh;
    width: 40vw;

    position: absolute;

    top: 22vh;
    left: 25vh; /*left 35vh para imgs */

    border-radius: 8px;

    animation: homer 10s step-start ;
    animation-iteration-count: infinite;
}

.main_img:hover{
    box-shadow: 10px 10px 20px var(--corPrincipal);
}

#img:hover{
    box-shadow: 10px 10px 20px;
}

.main-text{
    height: 53vh;
    width: 31vw;

    top: 12vh;
    left: 53%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: absolute;
}


#nome{
    font-family: var(--fontePrincipal);
    font-size: 120px;
    font-style: bold;

    color: var(--corPrincipal);
    margin-bottom: 0px;
  
    position: absolute;
}

#nome:hover{
    color: chartreuse;
}

#sobrenome{
    margin-top: 35vh;
    font-family: var(--fontePrincipal);
    font-size: 90px;
    color: var(--corSecundaria);
}

#sobrenome:hover{
    color: darkblue;
}

#text{
    margin-bottom: 40vh;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-family: var(--fonteSecundaria);
}

#text:hover{
    color: cornflowerblue;
}

@keyframes homer{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.2);
    }
}