
#img{
    height: 74vh;
    width: 40vw;

    position: absolute;

    top: 19vh;
    left: 35vh;

    border-radius: 8px;
    background-color: var(--corPrincipal);
}

.main_img:hover{
    box-shadow: 10px 10px 20px var(--corPrincipal);
}

#img:hover{
    box-shadow: 10px 10px 20px;
}

#nome{
    height: 56vh;
    width: 28vw;

    top: 30vh;
    left: 58%;

    background-color: blue;

    position: absolute;
}