
#img{
    height: 74vh;
    width: 40vw;

    position: absolute;

    top: 22vh;
    left: 25vh; /*left 35vh para imgs */

    border-radius: 8px;

    animation: homer 10s step-start ;
    animation-iteration-count: infinite;
}

.main_img:hover{
    box-shadow: 10px 10px 20px var(--corPrincipal);
}

#img:hover{
    box-shadow: 10px 10px 20px;
}

.main-text{
    height: 53vh;
    width: 31vw;

    top: 12vh;
    left: 53%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: absolute;
}


#nome{
    font-family: var(--fontePrincipal);
    font-size: 120px;
    font-style: bold;

    color: var(--corPrincipal);
    margin-bottom: 0px;
  
    position: absolute;
}

#nome:hover{
    color: chartreuse;
}

#sobrenome{
    margin-top: 35vh;
    font-family: var(--fontePrincipal);
    font-size: 90px;
    color: var(--corSecundaria);
}

#sobrenome:hover{
    color: darkblue;
}

#text{
    margin-bottom: 40vh;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-family: var(--fonteSecundaria);
}

#text:hover{
    color: cornflowerblue;
}

@keyframes homer{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.2);
    }
}

@media(max-width:480px){
    
    #img{
        height: 29vh;
        width: 60vw;
    
        position: absolute;
    
        top: 18vh;
        left: 8vh; /*left 35vh para imgs */
    
        border-radius: 4px;
    
        animation: homer 10s step-start ;
        animation-iteration-count: infinite;
    }
    
    .main-text{
        height: 20vh;
        width: 100vw;
        top: 40vh;
        left: 0%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;

    }

    #nome{
            font-family : var(--fontePrincipal);
            font-size: 18vw;
            font-style: bold;
        
            color: var(--corPrincipal);
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          

    }

    #sobrenome{

        font-size: 15vw;
        margin-top: 29vh;
        color: var(--corSecundaria);
        font-family: var(--fontePrincipal);


    }

    #text{
        top: 24vh;
        margin-bottom: 0%;

        left: 4vw;
        position: absolute;
        align-items: center;
        font-size: 2.5vh;
        margin-right: 5vw;
        justify-content: center;

    }


}